<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<!-- web.xml에 작성한 순서로 filter가 작동됨 -->
	<filter>
		<filter-name>test1</filter-name>
		<filter-class>com.bmj.test.filter.Test1</filter-class>
	</filter>
	<filter>
		<filter-name>test2</filter-name>
		<filter-class>com.bmj.test.filter.Test2</filter-class>
	</filter>


	
	
	<filter-mapping>
		<filter-name>test1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>test2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>